.xq_btn {
    padding: 5px 30px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(255, 56, 86);
    font-size: 15px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-shadow: rgb(201, 46, 70) 0px 10px 0px 0px;
    box-shadow: rgb(201, 46, 70) 0px 5px 0px 0px;
    color: hsl(0, 0%, 100%);
}

.xq_btn:hover {
    -webkit-box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
}

.xq_btn:disabled {
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
}


.xq_btn:active {
    background-color: rgb(255, 56, 86);
    /*50, 168, 80*/
    -webkit-box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    -webkit-transform: translateY(5px);
    -ms-transform: translateY(5px);
    transform: translateY(5px);
    -webkit-transition: 200ms;
    transition: 200ms;
}