.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    transform: scale(.8);
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg {
    position: relative;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    fill: #666;
}

svg:hover {
    -webkit-transform: scale(1.1) rotate(-10deg);
    -ms-transform: scale(1.1) rotate(-10deg);
    transform: scale(1.1) rotate(-10deg);
}

.container input:checked ~ svg {
    fill: #2196F3;
}

/*不喜欢*/

.un_like input:checked ~ svg {
    fill: rgb(185, 51, 51);
}